{% extends 'TLE/base.html' %}
{% load i18n %}


{% block content-header %}
  {% trans 'Two-line element sets' %}
{% endblock %}


{% block breadcrumb %}
  {{ block.super }}
    <li class="active">{% trans 'List' %}</li>
{% endblock %}


{% block content %}
    <div class="row">
      {% for obj in object_list %}
          <div class="col-lg-6">
              <div class="box box-solid">
                  <div class="box-header with-border">
                      <h3 class="box-title">{{ obj.title_line }}</h3>

                      <h3 class="box-title text-muted pull-right">{{ obj.datetime_in_lines|date:'c' }}</h3>
                  </div>
                  <div class="box-body">
                      <pre>{{ obj.title_line }}<br/>{{ obj.line1 }}<br/>{{ obj.line2 }}</pre>
                  </div>
              </div>
          </div>
      {% endfor %}
      {% include 'includes/paginator.html' %}
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script>
        $.get('http://localhost:8000/TLE/2015/06/21/', function(data) {
            console.log(data);
        })
    </script>
{% endblock %}
