{% extends 'base.html' %}
{% load i18n %}

{% block head %}
  {{ block.super }}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVEXypca7bWLD1my4Wvc6AQTjsIM88MZw&sensor=false"
            type="text/javascript"></script>
{% endblock %}

{% block content-header %}{% trans 'Detail information' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">{{ geo_object.title }}</h3>
                </div>
                <div class="box-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label ">
                                Северная широта в градусах
                            </label>
                            <p class=" form-control-static">{{ geo_object.lat }}</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label ">
                                Восточная долгота в градусах
                            </label>
                            <p class=" form-control-static">{{ geo_object.lon }}</p>
                        </div>
                    </form>
                  {{ geo_object.short_description|safe }}<br>
                    <br>

                    <div id="map_canvas" style="width:100%; margin-bottom: 15px"></div>
                    <pre><code>{{ geo_object.get_polygon_in_kml }}</code></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}

    <script type="text/javascript">

        $('#map_canvas').css('height', $('.content').css('height'));


        function initialize() {
            var lat = parseFloat('{{ geo_object.lat }}'.replace(',', '.')),
                    lon = parseFloat('{{ geo_object.lon }}'.replace(',', '.')),
                    location = new google.maps.LatLng(lat, lon);
            console.log(lat, lon);

            // Определение карты
            var options = {
                center: location,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), options);

            // Определение геокодера
            geocoder = new google.maps.Geocoder();

            marker = new google.maps.Marker({map: map});
            marker.setPosition(location);

            var layer = new google.maps.KmlLayer({
                url: '{0}//{1}{2}'.f(window.location.protocol, window.location.host, "{% url 'GeoObject:get_kml' pk=geo_object.pk %}")
            });
            console.log(layer);
            layer.setMap(map);

        }
        $(document).ready(initialize)
    </script>
{% endblock %}