{% extends 'GeoObject/GeoObject/base.html' %}
{% load i18n bootstrap_tags %}

{% block head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
    <li class="active">{% trans 'creation'|capfirst %}</li>
{% endblock %}

{% block content-header %}
  {% trans 'create surveliance plan'|capfirst %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="box box-solid">
            <div class="box-body">
                <form id="create-geo_object" action="" method="post">
                  {% csrf_token %}
                  {{ form|as_bootstrap }}
                  <div class="form-row">
                    <button type="submit" class="btn btn-flat bg-olive">
                      <i class="fa fa-plus-square-o fa-fw"></i>{% trans 'create'|capfirst %}
                    </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
