{% extends 'GeoObject/SurveillancePlan/base.html' %}
{% load i18n %}


{% block content-header %}
  {% trans 'surveillance plans'|capfirst %}
{% endblock %}


{% block breadcrumb %}
  {{ block.super }}
  <li class="active">{% trans 'list'|capfirst %}</li>
{% endblock %}


{% block content %}
  <div class="row-fluid">
    {% for surv_plan in object_list %}
      {% with is_list=True %}
        {% include 'GeoObject/SurveillancePlan/includes/surveillance_plan.html' %}
      {% endwith %}
    {% empty %}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info-circle"></i> {% trans 'surveillance plans not found'|capfirst %}!</h4>
      </div>
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
