{% extends 'GeoObject/GeoObject/base.html' %}
{% load i18n bootstrap_tags staticfiles %}

{% block head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="active">{% trans 'Edit' %}</li>
{% endblock %}

{% block content-header %}
  {% trans 'Edit geographical object' %}
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="box box-solid">
      <div class="box-body">
        <form id="create-geo_object" action="" method="post">
          {% csrf_token %}
          {{ form|as_bootstrap }}
          <div class="form-group">
            <button class="btn bg-olive btn-flat" type="submit">
              <i class="fa fa-check fa-fw"></i> {% trans 'apply changes'|capfirst %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
