{% extends 'base.html' %}
{% load bootstrap_tags i18n %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVEXypca7bWLD1my4Wvc6AQTjsIM88MZw&sensor=false"
            type="text/javascript"></script>
{% endblock %}

{% block content-header %}{% trans 'Create geographical object' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border text-center">
                    <h3 class="box-title"></h3>
                    <button id='prev_step' class="btn btn-primary btn-flat pull-left" type="button">
                        <i class="fa fa-chevron-left"></i> {% trans 'Previous step' %}
                    </button>
                    <button id='next_step' class="btn btn-primary btn-flat pull-right" type="button">
                      {% trans 'Next step' %} <i class="fa fa-chevron-right"></i>
                    </button>
                    <button id='save' class="btn btn-success btn-flat pull-right" type="submit">
                      <i class="fa fa-save"></i> {% trans 'Save' %}
                    </button>
                </div>
                <div class="box-body">
                    <form id="create-geo_object" action="" method="post">
                      {% csrf_token %}
                      {{ form|as_bootstrap }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
    <script type="text/javascript">
        var $form = $('#create-geo_object'),
                $geocoders = $('#geocoders'),
                step_1_elements = $form.children(),
                step_2_elements = step_1_elements.splice(-4),
                $step_1 = $('<div>', {id: 'step_1'}),
                $step_2 = $('<div>', {id: 'step_2'}),
                $next_step = $('#next_step'),
                $prev_step = $('#prev_step'),
                $save = $('#save');
                $header = $('.box-title');

        $save.hide();
        $prev_step.hide();
        $title.change($header.text($title.val()));


        $form.append($step_1.append(step_1_elements), $step_2.append(step_2_elements).hide());


        $next_step.click(function () {
            $geocoders.hide();
            $step_1.hide();
            $next_step.hide();
            $step_2.fadeIn('fast');
            $prev_step.fadeIn('fast');
            $save.fadeIn('fast');
        });

        $prev_step.click(function () {
            $step_2.hide();
            $prev_step.hide();
            $save.hide();
            $geocoders.fadeIn('fast');
            $step_1.fadeIn('fast');
            $next_step.fadeIn('fast');
        });

        $step_2.find('textarea').slice(0,-1).wysihtml5();

    </script>
{% endblock %}